@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
}

.Cover {
  background-color: black;
  width: 100%;
  height: 35vh;
  border: 1px solid black;
  display: grid;

  grid-template-rows: 2fr 1fr 1fr;
}
.Header {
  position: fixed;
  height: 7vh;
  width: 100vw;
  border: none;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr 1fr;
  background-color: white;
}
.item {
  font-weight: 900;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-button {
  background: none;
  border: none;
}

.cover-item {
  color: white;
}
.title {
  text-align: center;
}

.Main {
  display: grid;

  margin: 0rem 3rem 1rem 3rem;
}
.main-item {
  border-bottom: 1px solid gray;
  text-align: center;
  margin-top: 1rem;
}

.Notice {
  height: 70vh;
  text-align: center;
  margin: 1rem 3rem 1rem 3rem;
  border-bottom: 1px solid gray;
}
