@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

* {
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
}

.Cover {
  background-color: rgb(140, 186, 229);
  width: 100%;
  height: 35vh;

  display: grid;

  grid-template-rows: 2fr 1fr 1fr;
}
.Header {
  position: fixed;
  top: 0px;
  height: 7vh;
  width: 100vw;
  border: none;
  color: white;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  background-color: white;
}
.item {
  font-weight: 900;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-button {
  background: none;
  border: none;
}

.cover-item {
  color: white;
}
.title {
  text-align: center;
}

.Main {
  display: grid;
  background-color: rgb(247, 235, 235);
  margin: 0rem 0rem 1rem 0rem;
}
.main-item {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}
.main-menu {
  height: 10vh;
}
.Notice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  text-align: center;
  margin: 1rem 0rem 0rem 0rem;
}

.img-link {
  max-width: 1.5rem;
}
.Footer {
  position: fixed;
  bottom: 0px;
  height: 7vh;
  width: 100vw;
  border: none;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
}
